Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_oregon_eks_stage, deploy_oregon_eks_admin, deploy_oregon_eks_prod, deploy_frankfurt_eks_prod

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - kubectl rollout status -f ${DEPLOYMENT}/web.yaml
    - ./newrelic-notify.sh
    - sleep 5s
    - ${ACCEPTANCE_TESTS_BIN} ${URL}

# deploy oregon-a dev:
#   extends: .deploy
#   variables:
#     DEPLOYMENT: oregon-a/snippets-dev
#     KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
#     NEWRELIC_APP: snippets-dev-oregon-a
#     ACCEPTANCE_TESTS_BIN: ./acceptance-tests-redictor.sh
#     URL: https://snippets-dev.oregon-b.moz.works
#   only:
#     changes:
#       - "oregon-a/snippets-dev/*"
#     refs:
#       - master

deploy_oregon_eks_stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-eks/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
    NEWRELIC_APP: snippets-stage-or-1
    ACCEPTANCE_TESTS_BIN: ./acceptance-tests.sh
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-eks/snippets-stage/*"
    refs:
      - master

deploy_oregon_eks_admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-eks/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
    NEWRELIC_APP: snippets-admin-or-1
    ACCEPTANCE_TESTS_BIN: ./acceptance-tests-redirector.sh
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-eks/snippets-admin/*"
    refs:
      - master

deploy_oregon_eks_prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-eks/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-or-1.kubeconfig
    NEWRELIC_APP: snippets-prod-or-1
    ACCEPTANCE_TESTS_BIN: ./acceptance-tests-redirector.sh
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-eks/snippets-prod/*"
    refs:
      - master

deploy_frankfurt_eks_prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt-eks/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/mozmeao-fr-1.kubeconfig
    NEWRELIC_APP: snippets-prod-fr-1
    ACCEPTANCE_TESTS_BIN: ./acceptance-tests-redirector.sh
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt-eks/snippets-prod/*"
    refs:
      - master

set image to mozmeao/snippets:7c0c2587
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: deploy_oregon_eks_admin

set image to mozmeao/snippets:redirector-7c0c2587
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: deploy_oregon_eks_prod, deploy_frankfurt_eks_prod

set image to mozmeao/snippets:7c0c2587
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:46aac7f3
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:46aac7f3
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: deploy_oregon_eks_admin

set image to mozmeao/snippets:redirector-46aac7f3
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: deploy_oregon_eks_prod, deploy_frankfurt_eks_prod

set image to mozmeao/snippets:fe9b1329
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

Revert "set image to mozmeao/snippets:fe9b1329"
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

Revert "Revert "set image to mozmeao/snippets:fe9b1329""
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

Revert "Revert "Revert "set image to mozmeao/snippets:fe9b1329"""
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:7c46abea
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:2a38dfff
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:c091784b
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:c091784b
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: deploy_oregon_eks_admin

set image to mozmeao/snippets:redirector-c091784b
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: deploy_oregon_eks_prod, deploy_frankfurt_eks_prod

set image to mozmeao/snippets:e08d5295
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

feature(mirroring): Use github actions for mirroring
  .github/workflows/gitlab-mirror.yml
  .github/workflows/main.yml
Due: none

chore(mirroring): Pin to long sha
  .github/workflows/gitlab-mirror.yml
Due: none

set image to mozmeao/snippets:e044709a
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy_oregon_eks_stage

set image to mozmeao/snippets:redirector-e044709a
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: deploy_oregon_eks_prod, deploy_frankfurt_eks_prod
