Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry: 2  # Add two retries, especially for acceptance-tests
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./acceptance-tests.sh ${URL}


deploy oregon-b dev:
  extends: .deploy
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DEPLOYMENT: oregon-b/snippets-dev
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-dev/*"

deploy oregon-b stage:
  extends: .deploy
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DEPLOYMENT: oregon-b/snippets-stage
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-b/snippets-stage/*"

deploy oregon-b prod:
  extends: .deploy
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DEPLOYMENT: oregon-b/snippets-prod
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-prod/*"

deploy frankfurt prod:
  extends: .deploy
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    DEPLOYMENT: frankfurt/snippets-prod
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"

deploy oregon-b admin:
  extends: .deploy
  variables:
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    DEPLOYMENT: oregon-b/snippets-admin
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-b/snippets-admin/*"

Add job tags.
  .gitlab-ci.yml
Due: none

set image to mozorg/snippets:283065b
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:283065b
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Change retry syntax.
  .gitlab-ci.yml
Due: none

set image to mozorg/snippets:283065b
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Sleep in addition to retry.
  .gitlab-ci.yml
Due: none

set image to mozorg/snippets:283065b
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Add new relic notification script post deploy.
  newrelic-notify.sh
Due: none

Review fixes:
  newrelic-notify.sh
Due: none

Review fixes #2:
  .gitlab-ci.yml
  newrelic-notify.sh
Due: none

Review fixes part 3:
  .gitlab-ci.yml
  newrelic-notify.sh
Due: none

Add new relic notification script post deploy. (#27)
  .gitlab-ci.yml
  newrelic-notify.sh
Due: none

set image to mozorg/snippets:29f91f7
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:133c8cf
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:133c8cf
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:e4030a2
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:e4030a2
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:e4030a2
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:e4030a2
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:2ca308a
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:0384645b
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:3ef61f0e
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:3ef61f0e
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:3ef61f0e
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:3ef61f0e
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:49de9eb8
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:49de9eb8
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:49de9eb8
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:49de9eb8
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:46f7c642
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:46f7c642
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:46f7c642
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:46f7c642
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:b82fb66a
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:b82fb66a
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:b82fb66a
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:b82fb66a
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:6b57295e
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:a4305c20
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:a4305c20
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage
