Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - kubectl rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-a dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-a
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-a/snippets-dev/*"
    refs:
      - master

deploy oregon-a stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-a
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-a/snippets-stage/*"
    refs:
      - master

deploy oregon-a prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-a
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-a/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-a admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-a
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-a/snippets-admin/*"
    refs:
      - master

set image to mozmeao/snippets:0ddcfd5c
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:0ddcfd5c
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

Remove CACHALOG configuration
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:bcc37475
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:bcc37475
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:bcc37475
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:bcc37475
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:7c60482e
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:f49d841f
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:937b5b64
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:666f527e
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

Move snippets-dev to redirector.
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

Making a trivial change to prompt a redeploy
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Update config for new clusters.
  .gitlab-ci.yml
  acceptance-tests-redirector.sh
  frankfurt-eks/snippets-prod/hpa.yaml
  frankfurt-eks/snippets-prod/svc.yaml
  frankfurt-eks/snippets-prod/web.yaml
  frankfurt/snippets-prod/ns.yaml
  frankfurt/snippets-prod/web-deploy.yaml
  frankfurt/snippets-prod/web-svc.yaml
  newrelic-notify.sh
  oregon-a/snippets-admin/web.yaml
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/ns.yaml
  oregon-a/snippets-dev/web-svc.yaml
  oregon-a/snippets-prod/ns.yaml
  oregon-a/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-svc.yaml
  oregon-a/snippets-stage/web.yaml
  oregon-eks/snippets-prod/hpa.yaml
  oregon-eks/snippets-prod/svc.yaml
  oregon-eks/snippets-prod/web.yaml
  oregon-eks/snippets-stage/hpa.yaml
  oregon-eks/snippets-stage/svc.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy oregon-a dev, deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

set image to mozmeao/snippets:aed1f897
  acceptance-tests-redirector.sh
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

Rename clock-deploy.yaml
  oregon-a/snippets-admin/clock.yaml
  oregon-a/snippets-stage/clock.yaml
Due: deploy oregon-a stage, deploy oregon-a admin

set image to mozmeao/snippets:f9528cbf
  oregon-a/snippets-stage/clock.yaml
Due: deploy oregon-a stage

Update config for new clusters.
  .gitlab-ci.yml
  frankfurt-eks/snippets-prod/hpa.yaml
  frankfurt-eks/snippets-prod/svc.yaml
  frankfurt-eks/snippets-prod/web.yaml
  frankfurt/snippets-prod/ns.yaml
  frankfurt/snippets-prod/web-deploy.yaml
  frankfurt/snippets-prod/web-svc.yaml
  newrelic-notify.sh
  oregon-a/snippets-admin/web.yaml
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/ns.yaml
  oregon-a/snippets-dev/web-svc.yaml
  oregon-a/snippets-prod/ns.yaml
  oregon-a/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-svc.yaml
  oregon-a/snippets-stage/web.yaml
  oregon-eks/snippets-prod/hpa.yaml
  oregon-eks/snippets-prod/svc.yaml
  oregon-eks/snippets-prod/web.yaml
  oregon-eks/snippets-stage/hpa.yaml
  oregon-eks/snippets-stage/svc.yaml
  oregon-eks/snippets-stage/web.yaml
Due: deploy oregon-a dev, deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

set image to mozmeao/snippets:redirector-f9528cbf
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none

set image to mozmeao/snippets:redirector-1e7907ee
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none

Fix typo.
  .gitlab-ci.yml
Due: none

Update image to trigger push.
  frankfurt-eks/snippets-prod/web.yaml
Due: none

Update image to trigger deployment (or).
  oregon-eks/snippets-prod/web.yaml
Due: none

Update admin and stage.
  .gitlab-ci.yml
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/hpa.yaml
  oregon-eks/snippets-admin/svc.yaml
  oregon-eks/snippets-admin/web.yaml
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/svc.yaml
Due: none

Full acceptance tests against admin.
  .gitlab-ci.yml
Due: none

set image to mozmeao/snippets:b86504c9
  oregon-a/snippets-stage/clock.yaml
  oregon-a/snippets-stage/web.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:9592370e
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: none

set image to mozmeao/snippets:redirector-9592370e
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none

set image to mozmeao/snippets:9592370e
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: none

Add -not so secret- secrets.
  oregon-eks/snippets-admin/secrets.yaml
  oregon-eks/snippets-stage/secrets.yaml
Due: none

looks like the aws access secret was dropped from deployment, little fix
  oregon-eks/snippets-admin/web.yaml
Due: none

set image to mozmeao/snippets:16fc02b8
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: none

set image to mozmeao/snippets:16fc02b8
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: none

set image to mozmeao/snippets:redirector-16fc02b8
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none

set image to mozmeao/snippets:e5cb41f6
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: none

set image to mozmeao/snippets:e5cb41f6
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: none

set image to mozmeao/snippets:redirector-e5cb41f6
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none

set image to mozmeao/snippets:7d7a4db9
  oregon-eks/snippets-stage/clock.yaml
  oregon-eks/snippets-stage/web.yaml
Due: none

set image to mozmeao/snippets:7d7a4db9
  oregon-eks/snippets-admin/clock.yaml
  oregon-eks/snippets-admin/web.yaml
Due: none

set image to mozmeao/snippets:redirector-7d7a4db9
  frankfurt-eks/snippets-prod/web.yaml
  oregon-eks/snippets-prod/web.yaml
Due: none
