Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - mozmeao
  script:
    - kubectl apply -f ${DEPLOYMENT}
    - kubectl rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-a dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-a
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-a/snippets-dev/*"
    refs:
      - master

deploy oregon-a stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-a
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-a/snippets-stage/*"
    refs:
      - master

deploy oregon-a prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-a
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-a/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-a admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-a/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-a
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-a/snippets-admin/*"
    refs:
      - master

set image to mozmeao/snippets:231e74ec
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:117123cc
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:117123cc
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:117123cc
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:117123cc
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:de645637
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:de645637
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:de645637
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:de645637
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

adding a dockerhub login to every deployment
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

set image to mozmeao/snippets:0af49b76
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:05966186
  acceptance-tests.sh
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:05966186
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:05966186
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:05966186
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:d457d56b
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:d457d56b
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:d457d56b
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:d457d56b
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:f3155d0d
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

Fix typo
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:f3155d0d
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:f3155d0d
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:f3155d0d
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:512d42a9
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:7f58e8d3
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

Add Github to Gitlab Sync Action.
  .github/workflows/main.yml
Due: none

set image to mozmeao/snippets:7f58e8d3
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:15c11817
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:b7847dd9
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:b7847dd9
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:7f58e8d3
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:b7847dd9
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

set image to mozmeao/snippets:8e81954c
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:8e81954c
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage

set image to mozmeao/snippets:8e81954c
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy oregon-a prod, deploy frankfurt prod

set image to mozmeao/snippets:8e81954c
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: deploy oregon-a admin

Remove unused setting USE_PREGEN_BUNDLES.
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-a prod, deploy frankfurt prod, deploy oregon-a admin

set image to mozmeao/snippets:0ddcfd5c
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: deploy oregon-a dev

set image to mozmeao/snippets:0ddcfd5c
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/web-deploy.yaml
Due: deploy oregon-a stage
